.page2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page2 .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1280px;
  height: 2199px;
  position: relative;
}

.page2 .navbar {
  position: absolute;
  width: 1280px;
  height: 73px;
  top: 0;
  left: 0;
}

.page2 .rectangle {
  position: absolute;
  width: 1280px;
  height: 68px;
  top: 0;
  left: 0;
}

.page2 .contact {
  width: 106px;
  top: 13px;
  left: 1103px;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .encheres {
  width: 130px;
  top: 13px;
  left: 949px;
  text-decoration: underline;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .oeuvres {
  width: 106px;
  top: 14px;
  left: 811px;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .artistes {
  width: 106px;
  top: 14px;
  left: 673px;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .actualites {
  width: 131px;
  top: 14px;
  left: 495px;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .nom {
  position: absolute;
  width: 275px;
  top: 14px;
  left: 125px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .logo {
  position: absolute;
  width: 137px;
  height: 73px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page2 .overlap-group {
  position: absolute;
  width: 779px;
  height: 542px;
  top: 172px;
  left: 18px;
}

.page2 .nouveautes {
  position: absolute;
  width: 580px;
  top: 0;
  left: 0;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .merelloimg {
  position: absolute;
  width: 340px;
  height: 461px;
  top: 81px;
  left: 32px;
  object-fit: cover;
}

.page2 .jawlensky {
  position: absolute;
  width: 340px;
  height: 461px;
  top: 81px;
  left: 439px;
  object-fit: cover;
}

.page2 .overlap {
  position: absolute;
  width: 779px;
  height: 593px;
  top: 974px;
  left: 18px;
}

.page2 .selection {
  position: absolute;
  width: 508px;
  top: 0;
  left: 0;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .image {
  height: 467px;
  top: 126px;
  left: 439px;
  position: absolute;
  width: 340px;
  object-fit: cover;
}

.page2 .image2 {
  height: 467px;
  top: 126px;
  left: 830px;
  position: absolute;
  width: 340px;
  object-fit: cover;
}

.page2 .img {
  height: 460px;
  top: 126px;
  left: 38px;
  position: absolute;
  width: 340px;
  object-fit: cover;
}

.page2 .overlap-2 {
  position: absolute;
  width: 1280px;
  height: 480px;
  top: 1729px;
  left: 0;
  background-color: #961515;
}

.page2 .contact {
  position: absolute;
  top: 239px;
  left: 841px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .lundi {
  position: absolute;
  width: 374px;
  top: 101px;
  left: 841px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .horaires {
  position: absolute;
  width: 374px;
  top: 31px;
  left: 841px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page2 .galerie {
  position: absolute;
  width: 374px;
  top: 34px;
  left: 72px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page2 .adresse {
  position: absolute;
  width: 374px;
  top: 98px;
  left: 72px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page2 .directeur {
  position: absolute;
  top: 317px;
  left: 841px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .anxiety {
  position: absolute;
  width: 340px;
  height: 461px;
  top: 252px;
  left: 860px;
  object-fit: cover;
}

.page2 .merello {
  position: absolute;
  width: 350px;
  top: 764px;
  left: 50px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix1 {
  position: absolute;
  top: 847px;
  left: 50px;
  font-family: "Manuale-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix2 {
  width: 51px;
  top: 847px;
  left: 457px;
  font-family: "Manuale-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 24px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix3 {
  width: 63px;
  top: 846px;
  left: 864px;
  font-family: "Manuale-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 24px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .alexej {
  position: absolute;
  width: 350px;
  top: 745px;
  left: 457px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .munch {
  position: absolute;
  width: 350px;
  top: 760px;
  left: 864px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .pablo {
  position: absolute;
  width: 148px;
  top: 1592px;
  left: 864px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .ludwig {
  position: absolute;
  width: 196px;
  top: 1598px;
  left: 457px;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.page2 .gogh {
 top: 1600px;
  left: 56px;
  position: absolute;
  font-family: "Manuale-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix4 {
  width: 101px;
  top: 1680px;
  left: 868px;
  font-family: "Manuale-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix5 {
  width: 84px;
  top: 1680px;
  left: 56px;
  font-family: "Manuale-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .prix6 {
  width: 84px;
  top: 1680px;
  left: 457px;
  font-family: "Manuale-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.page2 .image-2 {
  height: 467px;
  top: 1100px;
  left: 856px;
  position: absolute;
  width: 340px;
  object-fit: cover;
}

@media only screen and (max-width: 320px) {
  .page2 .div {
    width: 100%; 
  }

  .page2 .contact,
  .page2 .encheres,
  .page2 .oeuvres,
  .page2 .artistes,
  .page2 .actualites,
  .page2 .nom,
  .page2 .logo,
  .page2 .overlap-group,
  .page2 .nouveautes,
  .page2 .merelloimg,
  .page2 .jawlensky,
  .page2 .overlap,
  .page2 .selection,
  .page2 .image,
  .page2 .image2,
  .page2 .img,
  .page2 .overlap-2,
  .page2 .contact,
  .page2 .lundi,
  .page2 .horaires,
  .page2 .galerie,
  .page2 .adresse,
  .page2 .directeur,
  .page2 .anxiety,
  .page2 .merello,
  .page2 .prix1,
  .page2 .prix2,
  .page2 .prix3,
  .page2 .alexej,
  .page2 .munch,
  .page2 .pablo,
  .page2 .ludwig,
  .page2 .gogh,
  .page2 .prix4,
  .page2 .prix5,
  .page2 .prix6,
  .page2 .image-2 {
    width: 100%;
  }
}
